<h1>Listing lunches</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lunches.each do |lunch| %>
  <tr>
    <td><%= lunch.where %></td>
    <td><%= lunch.when %></td>
    <td><%= link_to 'Edit', edit_lunch_path(lunch) %></td>
    <td><%= button_to 'Join', join_lunch_path(lunch), method: :post, data: {confirm: 'Really Join?'} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lunch', new_lunch_path %>


