<h1>Today's lunches</h1>

<div class="lunches">
<% @lunches.each do |lunch| %>
  <div class="lunch">
    <div class="info">
      <h2 class="restaurant"><%= lunch.where %></h2>
      <span class="when"><%= lunch.when %></span>
      <span class="creator">Alon Porat</span>
      <%= link_to 'Edit', edit_lunch_path(lunch) %>
      <%= button_to 'Join', join_lunch_path(lunch), method: :post, data: {confirm: 'Really Join?'} %>
    </div>
    <div class="users">
      <div class="user">David Tintner</div>
      <div class="user">Noam Schwartz</div>
      <div class="user">Tal Perry</div>
      <div class="user">Ilan Bar Magen</div>
    </div>
    <button type="button" class="btn-join">Join Lunch</button>
  </div>
<% end %>

</div>

<%= link_to 'New Lunch', new_lunch_path %>
