<h1>Today's lunches</h1>

<div class="lunches">
<% @lunches.each do |lunch| %>
  <div class="lunch">
    <div class="info">
      <h2 class="restaurant"><%= lunch.where %></h2>
      <span class="when"><%= lunch.when %></span>
      <%= link_to 'Edit', edit_lunch_path(lunch) %>
      <%= button_to 'Join', join_lunch_path(lunch), method: :post, data: {confirm: 'Really Join?'} %>
    </div>
    <div class="users">
      <% lunch.users.each do |user| %>
         <div class="user" style="background-image: url(http://graph.facebook.com/<%=user.uid%>/picture?type=square);">
           <span class="name"><%= user.name %></span>
         </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>
<%= link_to 'New Lunch', new_lunch_path %>
