<!DOCTYPE html>
<html>
<head>
  <title>Lunchin2</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header id="user-widget">
        <% if current_user %>
          <div class="current-user">
            <div class="thumbnail" style="background-image: url(http://graph.facebook.com/<%=current_user.uid%>/picture?type=normal);"></div>
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          </div>
        <% else %>
          <%= link_to "Sign in", "/auth/facebook", id: "sign_in" %>
        <% end %>
    </header>
<%= yield %>
</body>
</html>
